
body {
  background-color: black;
}
.PatentValuation_main {
  width: 100%;
  height: 100vh;
  background-image: url("../../Assets/PatentValuation.avif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  /* #F9E488 */
}
.PatentValuation_main_h4 {
  position: absolute;
  top: 20%;
  left: 7%;
  color: white;
  font-size: 32px;
  padding: 10px;
  background-color: black;
}

.PatentValuation_main_h2 {
  position: absolute;
  top: 42%;
  left: 7%;
  font-size: 40px;
  color: white;
}

.scroller_circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 47%;
  left: 10%;
  background-color: transparent;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroller_circle_span {
  font-size: 32px;
  color: white;
}

.PatentValuation_main_content {
  width: 100%;
  height: 100vh;
  background-color: black;
  padding: 40px 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.PatentValuation_main_content_left_box {
  width: 40%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.PatentValuation_main_content_left_box > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.PatentValuation_main_content_right_box {
  width: 55%;
  height: 100%;
  /* background-color: white; */
  border-radius: 20px;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.PatentValuation_main_content_right_box_h4 {
  color: #f9e488;
  font-size: 20px;
}

.PatentValuation_main_content_right_box_p {
  color: white;
  font-size: 15px;
}

.PatentValuation_main_content_right_box_line {
  width: 100%;
  padding: 1px;
  background-color: gray;
}
.PatentValuation_main_content_right_box_tag_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 10px;
  /* color: #F9E488; */
}

.PatentValuation_main_content_right_box_tag {
  color: #f9e488;
  font-size: 14px;
}

.PatentValuation_Discription_content_div {
  width: 100%;
  background-color: black;
  padding: 20px;
}

.PatentValuation_Discription_content_header {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.PatentValuation_Discription_content_header_link {
  display: inline-block;
  background-color: black;
  padding: 20px 50px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(255, 253, 253, 0.2),
    0 6px 20px 0 rgba(255, 253, 253, 0.19);

  color: #f9e488;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  font-weight: 500;
}

.PatentValuation_Discription_content_outlet_div {
  width: 100%;
  /* height: 80%; */
  background-color: black;
  display: flex;
  padding: 20px 40px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.description_p_tag {
  font-size: 14px;
  color: #f9e488;
}

@media only screen and (max-width: 800px) {
  .PatentValuation_Discription_content_header {
    flex-direction: column;
  }
  .PatentValuation_main_h2 {
    font-size: 26px;
    left: 8%;
    top: 35%;
    transform: none !important;
  }
  .PatentValuation_main_h4 {
    font-size: 20px;
    left: 8%;
    transform: none !important;
  }
  .scroller_circle{
    left: 8% !important;
    top: 56% !important;
    transform: none;
  }
  /* -------------------------------------------------------------- */
  .PatentValuation_main_content {
    flex-direction: column;
    height: initial;
    padding: 0px;
  }
  .PatentValuation_main_content_left_box {
    width: 100%;
    /* height: 50vh; */
    padding: 40px;
    background-color: black;
  }
  .PatentValuation_main_content_right_box {
    width: 100%;
    padding: 40px;
  }

  .PatentValuation_main_content_right_box_line {
    margin-top: 20px;
  }
  .PatentValuation_main_content_right_box_tag_div {
    line-height: initial;
    margin-top: 20px;
  }
  .PatentValuation_Discription_content_header_link {
    margin-top: 20px;
  }

  .PatentValuation_Discription_content_div{
    padding: 0px;
  }
}
